<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CarManager</filter-name>
        <filter-class>nguyenla.controller.CarManager</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CarManager</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>nguyenla.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationnServlet</servlet-name>
        <servlet-class>nguyenla.controller.RegistrationnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>nguyenla.controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>nguyenla.controller.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomeServlet</servlet-name>
        <servlet-class>nguyenla.controller.LoadHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarServlet</servlet-name>
        <servlet-class>nguyenla.controller.SearchCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCarttServlet</servlet-name>
        <servlet-class>nguyenla.controller.AddToCarttServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>nguyenla.controller.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>nguyenla.controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutCartServlet</servlet-name>
        <servlet-class>nguyenla.controller.CheckOutCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckQuantityCartServlet</servlet-name>
        <servlet-class>nguyenla.controller.CheckQuantityCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerifyServlet</servlet-name>
        <servlet-class>nguyenla.controller.UserVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforCarServlet</servlet-name>
        <servlet-class>nguyenla.controller.InforCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmDateServlet</servlet-name>
        <servlet-class>nguyenla.controller.ConfirmDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountCodeServlet</servlet-name>
        <servlet-class>nguyenla.controller.DiscountCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHistoryServlet</servlet-name>
        <servlet-class>nguyenla.controller.UserHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDetailsServlet</servlet-name>
        <servlet-class>nguyenla.controller.HistoryDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>nguyenla.controller.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>nguyenla.controller.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationnServlet</servlet-name>
        <url-pattern>/RegistrationnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomeServlet</servlet-name>
        <url-pattern>/LoadHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarServlet</servlet-name>
        <url-pattern>/SearchCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCarttServlet</servlet-name>
        <url-pattern>/AddToCarttServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/RemoveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutCartServlet</servlet-name>
        <url-pattern>/CheckOutCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckQuantityCartServlet</servlet-name>
        <url-pattern>/CheckQuantityCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerifyServlet</servlet-name>
        <url-pattern>/UserVerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforCarServlet</servlet-name>
        <url-pattern>/InforCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmDateServlet</servlet-name>
        <url-pattern>/ConfirmDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountCodeServlet</servlet-name>
        <url-pattern>/DiscountCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHistoryServlet</servlet-name>
        <url-pattern>/UserHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDetailsServlet</servlet-name>
        <url-pattern>/HistoryDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
